@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 18px; 
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    padding-bottom: 60px; 
    font-family: "Noto Serif JP", serif !important;
}

main 
{ 
    min-height: 100%;
    margin-bottom: -50px;
}

footer, .push { 
    height: 40px;
    bottom: 0; 
}


.sidebar {
    width: 200px;
}